extends layout

block content
  .page-header
    h1 XHimera Wallet
  p.lead WebWallet!
  hr
  .row
    .col-sm-6
      h2 Fast & Secure
      p This online wallet is powered upon NodeJS/MongoDB running in conjunction with a XHimera Full Node, allowing access to the speeds and power of the XHimera blockchain.
      p
        if user
        else
          a.btn.btn-default(href='/signup', role='button') Sign Up! »
    .col-sm-6
      h2 What is XHimera?
      p
        a.btn.btn-default(href='https://github.com/XHimera-Project/XHimera', target='_blank', role='button') View Github »
        a.btn.btn-default(href='https://xhimera.net', target='_blank', role='button') WebSite »
